 init-author-email=kadiramin@msn.com
 init-author-name=KadirAmin
 init-author-url=https://github.com/kadiramin

 --init.version=0.0.0
 --init-license=MIT
 
 audit=false
 fund=false
 update-notifier=false
